################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/obj
/bin/Debug
/packages
/.vs/App Ropa - Intento 1/v16
/.vs
