<?xml version="1.0" encoding="utf-8"?>
<configuration>
	  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="MyConnectionString" value="Provider=Microsoft.JET.OLEDB.4.0;Data Source =C:\\Users\\48115\\StyleFinder\\Database\\Style Finder Final.mdb" />
	<add key="WeatherApi" value="PVS6UUXCJ4FS6U8XUMKU4SJ3X" />
	  <add key="WeatherIconFolder" value="C:\\Users\\48115791\\StyleFinder\\images\\weatherIcons\\" />
	  <add key="maxUploadImageSize" value="1" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.3" newVersion="7.0.0.3" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
